@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@source "../views";

@layer base {
    html {
        font-family: "Poppins", sans-serif;
    }
}

body {
    font-family: "Poppins", sans-serif;
}

@layer components {
    .container {
        @apply mx-auto px-4;
    }

    @media (min-width: 600px) {
        .container {
            max-width: 600px;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    }

    @media (min-width: 1024px) {
        .container {
            max-width: 1024px;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    @media (min-width: 1240px) {
        .container {
            max-width: 1240px;
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    @media (min-width: 1440px) {
        .container {
            max-width: 1440px;
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }
}

@theme {
    --color-cust-light-gray: #ecf0f3;
    --color-cust-dark-gray: #4e4e4e;
    --color-cust-blue: #0081fc;
    --color-cust-light-orange: #ffbea4;
    --color-cust-gray: #747474;
    --color-cust-light-blue: #eff6ff;
    --color-cust-primary-color: #2563eb;
    --color-cust-secondary-color: #111827;
    --color-cust-tertiary-color: #eef2ff;
    --color-cust-background-color: #f9fafb;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}

.book-showcase .swiper-wrapper {
    overflow-y: visible !important;
    min-height: 470px !important;
}

/* .book-showcase .swiper-slide {
    height: fit-content !important;
} */

.book-showcase .swiper-button-prev {
    color: gray !important;
    width: 40px !important;
    height: 40px !important;
    top: auto;
    bottom: 0px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    z-index: 30 !important;
    transform: translateY(-25%) !important;
}

.book-showcase .swiper-button-next {
    color: gray !important;
    width: 40px !important;
    height: 40px !important;
    top: auto;
    bottom: 0px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    z-index: 30 !important;
    transform: translateY(-25%) !important;
}

.book-showcase .swiper-button-prev::after,
.book-showcase .swiper-button-next::after {
    font-size: 18px !important;
    font-weight: bold !important;
}

.book-showcase .swiper-pagination {
    bottom: 0px !important;
    transform: translateY(-75%) !important;
}

.book-showcase .swiper-button-prev,
.book-showcase .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important; /* Makes it a circle */
    background-color: transparent !important; /* Or your preferred color */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 18px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    z-index: 30 !important;
    bottom: 0px !important;
    top: auto !important;
    border-color: gray;
    border-width: 1.5px;
}

.book-showcase .swiper-button-prev:hover,
.book-showcase .swiper-button-next:hover {
    background-color: white !important; /* Tailwind's gray-200 */
    filter: brightness(125%);
}

.book-showcase .swiper-button-prev,
.book-showcase .swiper-button-next {
    transition: background-color 0.2s ease-in-out;
}
